{% extends 'studentApp/index.html' %}
{% block mainblock %}
<body>
    <div class="container">
       
        <h2>Change <span class="highlight">Password</span></h2>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <form id="passwordForm"   method="POST" action="{% url 'change_pass' %}">
            {% csrf_token %}
            <div class="input-group">
                <input type="password" id="oldPassword" placeholder="Old Password" required>
            </div>
            <div class="input-group">
                <input type="password" id="newPassword" placeholder="New Password" required>
            </div>
            <div class="input-group">
                <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
            </div>
            <button type="submit">Change Password</button>
        </form>
    </div>
    {% endblock mainblock %}  